<button type="button" class="btn btn-light dropdown-toggle" href="#" data-toggle="dropdown" id="dropdownMenuButton" >
  Notifications <span id="notification-counter" class="badge badge-primary">
   <%= render "notifications/counter", counter: notifications.count %>
</span>
</button>

<ul id="notification-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <%= render notifications %>
</ul>
