$red: #f70505;
$radius: #333333;

#form-request{
  padding: 30px 200px;
  margin-top: 50px;
  border: solid 1px $radius
}
.btn-primary{
  margin-top: 20px;
}
.form-control{
  width: 170px;
  float: left;
  margin-right: 30px;
}
.create{
  margin-bottom: 30px;
}
#create-control{
  margin-bottom: 30px;
}
.title{
  margin: 30px 0;
}
.modal-body small{
  text-align: center;
  display:block;
  color: $red;
}
